[submodule "entityx"]
    path = dependencies/entityx
    url = https://github.com/alecthomas/entityx.git
    ignore = dirty

[submodule "tinyxml2"]
    path = dependencies/tinyxml2
    url = https://github.com/leethomason/tinyxml2.git
    ignore = dirty

[submodule "Artemis-Cpp"]
	path = dependencies/artemis-cpp
	url = https://github.com/vinova/Artemis-Cpp.git
	ignore = dirty
