[submodule "tinyxml2"]
    path = dependencies/tinyxml2
    url = https://github.com/leethomason/tinyxml2.git
    ignore = dirty

[submodule "Artemis-Cpp"]
	path = dependencies/Artemis-Cpp
	url = https://github.com/vinova/Artemis-Cpp.git
	ignore = dirty
[submodule "dependencies/tinydir"]
	path = dependencies/tinydir
	url = https://github.com/cxong/tinydir.git
	ignore = dirty
